.circuit-end
    .content
        .your-time
            margin-top 0.5em
            margin-bottom 1em
            text-align center

            .value
                font-size 30px
                font-weight 900

        .input-group
            display flex
            justify-content center

        .feedback
            min-height 22px
            margin-top 12px
            text-align center
            font-weight 700
            font-size 14px

            &.is-success
                color #d5ff95

            &.is-error
                color #ff6a7c

        .privacy
            margin-top 4px
            margin-bottom 0
            text-align center

        .or
            padding 12px
            text-align center
