@use "../global.scss" as global;

$maincolor: rgb(3, 3, 37);

.project
{
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-box
    {
        height: 680px;
    }

    .project-tabs-container {
        // width: 100%;

        @include global.mobile3 {
        // Annule le padding du parent pour s'étendre sur tout l'écran
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }
    }

    // 2. Le conteneur intérieur : c'est LUI qui gère le défilement et le padding.
    .scroll-wrapper {
        @include global.mobile3 {
        overflow-x: auto;
        touch-action: pan-x pan-y;

        // On s'assure que le contenu ne passe pas à la ligne
        // white-space: nowrap;

        // Cache la barre de défilement
        &::-webkit-scrollbar { display: none; }
        -ms-overflow-style: none;
        scrollbar-width: none;
        }
    }

    ul {
        margin: 0px 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;

        &::before {
            content: '';
            // Sa largeur est l'espace que vous voulez à gauche.
            width: 1.5rem;
            flex-shrink: 0; // Empêche cet élément de rétrécir.
        }


        // Crée un "élément invisible" à la fin de la liste.
        &::after {
            content: '';
            // Sa largeur est l'espace que vous voulez à droite.
            width: 1.5rem;
            flex-shrink: 0;
        }
        

        @include global.mobile3 {
            justify-content: flex-start;
            // 'inline-flex' est important pour que la liste s'adapte à son contenu
            display: inline-flex; 
            gap: 1rem; 
        }

        li {
            border: solid 2px #00e9ff;
            border-radius: 10px;
            // Ajout de flex-shrink: 0 pour empêcher les boutons de se compresser
            flex-shrink: 0;
        }     
    }
    .Box1
    {
        cursor: pointer;
        .image
        {
            z-index: 1;
        }
        h3, .title
        {
            opacity: 0;
        }
        &:hover
        {
            background-color: $maincolor;
            .image
            {
                opacity: 0.2;
                z-index: 0;
            }
            h3
            {
                opacity: 1;
                z-index: 1;
                color: rgb(255, 255, 255);
            }
            .title
            {
                opacity: 1;
                z-index: 1;
            }

        }
    }

    .box
    {
            gap: 1.75rem;
    }
}
